*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: var(--text-main);
  background: var(--white);
}

#root {
  min-height: 100vh;
}

body,
button,
input,
textarea,
select,
a,
p,
span,
div,
li {
  font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: var(--dark);
}

p {
  margin: 0;
}